
body{
background-color:linen;
}
h1{
color:maroon;
margin-left:40px;
text-align:center;
font-size:50px;
text-decoration:underline;
font-style:oblique;
}
p{
color:#36c;
margin-left:20px;
font-size:30px;
font-style:italic;
}

